[flake8]
ignore =
    # E501: Line too long (82 > 79 characters)
    E501,
    # W504: Line break occurred after a binary operator
    W504,
    # W605: Invalid escape sequence
    W605,
exclude =
    build/
